{% extends "base.html" %}
{% load static %}


{% block content %}


    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            
            <div class="col-lg-8"> 
              <h1>{{ course.header_title }}</h1>
              <p class="mb-0">{{ course.header_description }}</p>
            </div>
            
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'website:home' %}">Home</a></li>
            <li class="current">Course Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Courses Course Details Section -->
    <section id="courses-course-details" class="courses-course-details section">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="{{ course.course_image.url }}" class="img-fluid" alt="">
           
            <h3>{{ course.course_heading }}</h3>
            <p>{{ course.course_info }}</p>
            <p>{{ course.course_info_two }}</p>
            <p>{{ course.course_info_three }}</p>
            <p>{{ course.course_info_four }}</p>
            <p>{{ course.course_info_five }}</p>
            
          </div>
          
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Trainer:</h5>
              <p><a href="#">{{ course.trainer }}</a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Fee:</h5>
              <p>₦{{ course.course_fee}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Registration Date:</h5>
              <p>{{course.registration_date}}</p>
            </div>

             <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Duration:</h5>
              <p>{{course.duration}}</p>
            </div>

             <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Language:</h5>
              <p>{{course.language}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Status:</h5>
              <p>{{ course.registration_status }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-right">
              <div>
                 <h5>Additional Information:</h5>
              </div>
            <div>
              <br>
              <br>
              
                <p>{{ course.additional_info }}</p>
              
            </div>
            

            

          </div>
        </div>

      </div>

    </section><!-- /Courses Course Details Section -->

    <!-- Tabs Section -->
    <section id="tabs" class="tabs section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">{{ course.left_tab_one }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">{{ course.left_list_tab_two }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">{{ course.left_list_tab_three }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">{{ course.left_list_tab_four }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">{{ course.left_list_tab_five }}</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{{ course.left_tab_one }}</h3>
                    <p class="fst-italic">{{ course.tab_description_one_a }}</p>
                    <p>{{ course.tab_description_one_b }}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ course.buttom_right_image_one.url }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{{ course.left_list_tab_two }}</h3>
                    <p class="fst-italic">{{ course.tab_description_two_a }}</p>
                    <p>{{course.tab_description_two_b }}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ course.buttom_right_image_two.url }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{{ course.left_list_tab_three }}</h3>
                    <p class="fst-italic">{{ course.tab_description_three_a }}</p>
                    <p>{{ course.tab_description_three_b }}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ course.buttom_right_image_three.url }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{{ course.left_list_tab_four }}</h3>
                    <p class="fst-italic">{{ course.tab_description_four_a }}</p>
                    <p>{{ course.tab_description_four_b }}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ course.buttom_right_image_four.url }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{{ course.left_list_tab_five }}</h3>
                    <p class="fst-italic">{{ course.tab_description_five_a }}</p>
                    <p>{{ course.tab_description_five_b }}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ course.buttom_right_image_five.url }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Tabs Section -->
{% endblock %}