{% extends "base.html" %}
{% load crispy_forms_tags %}





{% block content %}
<br>
<br>
<br>

<div class="container p-4 bg-primary rounded form-control w-50 text-white">
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <div>
        <input type="checkbox" name="remember_me" id="remember_me">
        <label for="remember_me">Remember me</label>
    </div>
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'accounts:register' %}">Register here</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br><br>


{% endblock %}
