{% extends "dashboard/student_dashboard.html" %}
{% load static %}

{% block dashboard_content %}
<h3>Welcome, {{ request.user.first_name }}</h3>

<p><strong>Student ID:</strong> {{ student_id }}</p>

{% if profile.photo %}
    <img src="{{ profile.photo.url }}" class="img-thumbnail mb-3" width="150">
{% endif %}

     <div class="container-fluid">
      <div class="jumbotron">
        <h3 class="display-7">Welcome, {{user}}!</h3>
        <p class="lead">
We are thrilled you’ve chosen to apply to ISHERL for the [Course Name/Program] for [Semester/Year].
This dashboard is your one-stop shop for tracking your application progress. You can submit documents, view your status, and, in the future, accept your offer of admission. We encourage you to explore the resources available to help you make this a successful and exciting journey.
Our admissions team is here to support you. If you have any questions, please reach out to us.
<br>
<br>
Best of luck,
<br>
<br>
The ISHERL Admissions Team</p>
        <hr class="my-4">
        <p>We will update this portal as soon as your documents are reviewed.</p>
        
        </div>
    </div> 
        

{% endblock %}
        