{% extends "dashboard/applicant_dashboard.html" %}
{% load static %}

{% block dashboard_content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container d-flex justify-content-start w-50 fs-6 fw-bold" style="color: #022179; background-color: #fff; border: 2px ">
<div class="mb-3">
  <label for="formFileMultiple" class="form-label">Upload your documents</label>
  <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>

 
 


        

{% endblock %}
        