{% extends "dashboard/applicant_dashboard.html" %}
{% load static %}

{% block dashboard_content %}
 
<br>
<br>
<br>
<br>
<br>
<br>

      <div class="container">
        <h2>Find a course </h2>
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course Name</th>
      <th scope="col">Study Type</th>
      <th scope="col">Course Code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Environmental Law</td>
      <td>Full Time</td>
      <td>001</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Humanitarian Law</td>
      <td>Part Time</td>
      <td>002</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Human Rights Law</td>
      <td>Full Time</td>
      <td>003</td>
    </tr>
  </tbody>
</table>



</div>


        

{% endblock %}
        